* {
  margin: 0;
  padding: 0;
}

body {
  background: url('./images/bg.png') no-repeat center 120%/cover;
  width: 95vw;
  height: 100vh;
  margin: auto;
  font-family: 'Noto Sans TC', sans-serif;
  overflow: hidden;
  color: #fff;
}

#area {
  width: 700px;
  height: 400px;
  background: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
  background: #000;
  transform: translate(-50%, -50%);
  cursor: url('./images/cursor.png'), auto;
}

#area img {
  height: 100px;
  position: absolute;
  user-select: none;
  /* 設定無法選取圖片 */
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

#left {
  width: 460px;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.theme {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #333;
  text-align: center;
  margin: 5px;
  box-sizing: border-box;
}

#left .theme:hover {
  box-shadow: 0px 0px 10px #000;
  cursor: pointer;
}

.theme img {
  width: 100px;
}

.theme p {
  width: 60px;
  font-size: 14px;
  background: #000;
  margin: auto;
}

#right {
  width: 240px;
  float: right;
  text-align: center;
}

/* 右邊選定主題 */
#right .theme {
  display: inline-block;
}

/* 重選 */
#right .again {
  margin: 10px auto 0;
  width: 50px;
  clear: both;
  color: #000;
  background: #fff;
  cursor: pointer;
}

#roleNum {
  width: 700px;
  margin: 20px auto 0;
  display: flex;
  opacity: 0;
  justify-content: space-around;
}

.role {
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.role img {
  width: 50px;
}

#text,
#high,
#roleOther {
  display: none;
}

#btnStart {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  padding: 0.2rem 0.5rem;
  background: #F9EE32;
}

#btnEasy:hover,
#btnHard:hover,
#btnStart:hover {
  cursor: pointer;
  filter: hue-rotate(100deg);
}

#btnEasy,
#btnHard {
  font-weight: bold;
  font-size: 24px;
  background: #54C3F1;
  margin-top: 50px;
  padding: 0.2rem 0.5rem;
}